*{
	margin:0px;
	padding:0px;
}
.container{
	padding:2px;
	text-align: center;
	justify-content: center;
	display:block;
}
img{
	height:15%;
	width:15%;
}
.btn01{
	text-decoration:none;
	color:lightblue;
	background-color:black;
	border-radius:2px;
	padding:5px;
	font-size:12px;
	font-family:arial;
}
.btn01:hover{
	color:red;
	cursor:grab;
}
.sbt{
	background-color:#008000;
	border-radius:3px;
	text-align:center;
	color:white;
	width:60px;
	height:30px;
	border:0px;
}
.sbt:hover{
	cursor:pointer;
}
.formIngre{
	margin:25px;
	border:1px solid black;
}
.formIngre div {
	margin:15px;
}
#formulario{
	text-align:center;
	
}
input {
	width:300px;
	height:30px;
	border-radius:3px;
	
}