*{
	margin:0px;
	padding:0px;
}
.container{
	padding:2px;
	text-align: center;
	justify-content: center;
	display:block;
}
img{
	height:15%;
	width:15%;
}
.btn01{
	text-decoration:none;
	color:lightblue;
	background-color:black;
	border-radius:2px;
	padding:5px;
	font-size:12px;
	font-family:arial;
}
.btn01:hover{
	color:red;
	cursor:grab;
}